@import "../../utilities/typography";
@import "../../variables";

.chat {
  background-color: $alt-neutral-shadow-grey;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .chat-body {
    flex: 1 1 auto;
  }
}
