@import "../../utilities/typography";
@import "../../variables";

.nav-item-dm {
  background-color: $neutral-shadow-grey;
  max-width: 22.4rem;
  margin-left: 0.8rem;

  .svg {
    height: 1.6rem;
    width: 1.6rem;
  }

  .icon {
    background-repeat: no-repeat;
    background-position: center;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 1.6rem;
    margin-right: 1.2rem;
  }

  .svg-people {
    background-size: 52%;
  }

  .svg-discord {
    background-color: $darker-shadow-grey;
  }
}
