@import "../../utilities/typography";
@import "../../variables";

.nav-subgroup-menu {

  .nav-item-menu {
    max-width: 22.4rem;
    margin-left: 0.8rem;

    .svg {
      height: 2.4rem;
      width: 2.4rem;
      margin-left: 0.4rem;
      margin-right: 1.6rem;
      filter: brightness(60%);
    }

    .nav-link-active .svg {
      filter: brightness(95%);
    }

    .nav-link:hover .svg {
      filter: brightness(85%);
    }
  }
}

.nav-subgroup-dm {

  .svg-plus {
    filter: grayscale(100%) brightness(105%);
    cursor: pointer;
    background-size: 2rem;
    background-position: center;
    height: 1rem;
    width: 1rem;
  }

  .svg-plus:hover + .tool-tip {
    transform: scale(1);
  }

  .nav-item-head {
    position: relative;
    z-index: 0;
    align-items: start;
    height: 4rem;
    max-width: 22.4rem;
    user-select: none;
    text-transform: uppercase;
    padding: 1.8rem 0 0.4rem 1.8rem;
    @include typo(h3, 1.15em);
  }

  .nav-item-head:hover > :first-child {
    filter: brightness(150%);
  }

  .tool-tip::before {
    bottom: -1rem;
    left: 3.8rem;
    transform: rotate(-90deg);
  }

  .tool-tip {
    text-transform: none;
    top: -26px;
    right: -33px;
    @include typo(tt, 1.2rem);
    font-weight: 400;
    letter-spacing: 0.06em;
  }
}
