@import "../../variables";

.landing-page {
  background-color: $neutral-shadow-grey;
  height: 100vh;
  width: 100vw;

  .landing-page-content {
    height: 100%;
    width: 40rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .login-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    .svg-wumpus-direction {
      width: 40rem;
      height: 20rem;
    }

    .login-button {
      margin: 4rem 0;
      padding: 1rem 2rem;
      border-radius: 0.4rem;
      background-color: #2F3136;
      filter: brightness(150%);
      cursor: pointer;
      box-shadow: 0 0 1px 1px rgba(4,4,5,0.15);

      span {
        color: #8e9297;
        font-size: 1.8rem;
      }
    }

    .login-button:hover {
      box-shadow: 0 0 2px 2px rgba(4,4,5,0.15);
      filter: brightness(160%);
    }

    .login-button:active {
      transform: translateY(1px);
    }
  }



  .loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .loading-img {
      background-image: url('../../../img/discord-img.png');
      background-size: contain;
      height: 20rem;
      width: 20rem;
      transform: scale(1.2);
      animation: pulse 1s infinite 0s alternate;
    }

    @keyframes pulse {
      0% {
        transform: scale(1.2) rotate(10deg);
      }
      100% {
        transform: scale(1.9) rotate(-30deg);
      }
    }

    .loading-text {
      color: #dcddde;
      font-style: italic;
      font-size: 1.8rem;
    }
  }
}
