@import "utilities/media";
@import "utilities/typography";
@import "utilities/normalise";
@import "./variables";

.app-wrapper {
    background-color: $darker-shadow-grey;
    height: 100vh;
    width: 100%;
    display: flex;

    @include breakpoint(sm) {
        flex-direction: column;
    }
}

.svg {
    background-repeat: no-repeat;
    background-size: contain;
}

.svg-plus {
    background-image: url("../img/icons/plus.svg");
}
.svg-discord {
    background-image: url("../img/icons/discord.svg");
}
.svg-people {
    background-image: url("../img/icons/people.svg");
}
.svg-search {
    background-image: url("../img/icons/search.svg");
}
.svg-download {
    background-image: url("../img/icons/download.svg");
}
.svg-cross {
    background-image: url("../img/icons/cross.svg");
}
.svg-friend {
    background-image: url("../img/icons/friend.svg");
}
.svg-nitro {
    background-image: url("../img/icons/nitro.svg");
}
.svg-wumpus {
    background-image: url("../img/wumpus.svg");
}
.svg-no-chat {
    background-image: url("../img/no-channel.svg");
}

.background-brand-blue {
    background-color: $normal-brand-blue;
}
.background-brand-green {
    background-color: $normal-brand-green;
}
.background-brand-orange {
    background-color: $normal-brand-orange;
}
.background-brand-purple {
    background-color: $normal-brand-purple;
}
.background-brand-red {
    background-color: $normal-brand-red;
}
.background-brand-yellow {
    background-color: $normal-brand-yellow;
}

.flex-grow {
    flex: 1 1 auto;
}

.tool-tip {
    position: absolute;
    z-index: 10;
    background-color: $hover-black;
    border-radius: 4px;
    padding: 1rem;
    white-space: nowrap;
    transform: scale(0);
    transition: transform 0.015s;
}

.tool-tip::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid $hover-black;
}

.nav-group {
    display: flex;
    width: 100%;
}

.nav-group-top {
    border-bottom: 1px solid $darkest-outline-grey;
    flex: 0 0 auto;
}

.nav-item {
    display: flex;
}
