@import "utilities/media";
@import "utilities/typography";
@import "utilities/normalise";
@import "./variables";

.app-wrapper {
    background-color: $darker-shadow-grey;
    height: 100vh;
    width: 100%;
    display: flex;

    @include breakpoint(sm) {
        flex-direction: column;
    }
}

.svg {
    background-repeat: no-repeat;
    background-size: contain;
}

.svg-plus {
    background-image: url("../img/icons/plus.svg");
}
.svg-search {
    background-image: url("../img/icons/search.svg");
}
.svg-download {
    background-image: url("../img/icons/download.svg");
}
.svg-cross {
    background-image: url("../img/icons/cross.svg");
}
.svg-friend {
    background-image: url("../img/icons/friend.svg");
}
.svg-nitro {
    background-image: url("../img/icons/nitro.svg");
}
.svg-wumpus {
    background-image: url("../img/wumpus.svg");
}

.background-brand-blue {
    background-color: $normal-brand-blue;
}
.background-brand-green {
    background-color: $normal-brand-green;
}
.background-brand-orange {
    background-color: $normal-brand-orange;
}
.background-brand-purple {
    background-color: $normal-brand-purple;
}
.background-brand-red {
    background-color: $normal-brand-red;
}
.background-brand-yellow {
    background-color: $normal-brand-yellow;
}

.flex-grow {
    flex: 1 1 auto;
}

.tool-tip {
    position: absolute;
    z-index: 10;
    background-color: $hover-black;
    border-radius: 4px;
    padding: 1rem;
    white-space: nowrap;
    transform: scale(0);
    transition: transform 0.015s;
}

.tool-tip::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid $hover-black;
}

.nav-group {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.nav-group-top {
    border-bottom: 1px solid $darkest-outline-grey;
    flex: 0 0 auto;
}

.nav-item {
    width: 100%;
    display: flex;

    .nav-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 4.2rem;
        width: 100%;
        padding: 0.1rem 0.8rem;
        border-radius: 0.4rem;
        @include typo(h4, 1.4rem);
    }

    .btn-content {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
    }

    .nav-btn:hover {
        background-color: $dark-surround-grey;
    }

    .nav-btn:hover .svg-cross {
        visibility: visible;
    }

    .nav-btn:hover .btn-content .btn-text {
        filter: brightness(150%);
    }

    .btn-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex: 1 1 auto;
    }

    .btn-title {
        flex: 1 1 auto;
    }

    .nav-btn-active, .nav-btn-active:hover {
        background-color: $neutral-surround-grey;
    }

    .nav-btn-active .btn-text, .nav-btn-active:hover .btn-content .btn-text {
        filter: brightness(180%);
    }
}