$text-white: #fff;
$light-text-grey: #dcddde;
$neutral-surround-grey: #393C42;
$dark-surround-grey: #33363C;
$lightest-shadow-grey: #8e9297;
$light-shadow-grey: #4f545c;
$lighter-shadow-grey: #40444B;
$alt-neutral-shadow-grey: #36393f;
$neutral-shadow-grey: #2f3136;
$dark-shadow-grey: #292b2f;
$darker-shadow-grey: #202225;
$darkest-shadow-grey: #18191c;
$light-outline-grey: hsla(0,0%,100%,0.06);
$darkest-outline-grey: rgba(4,4,5,0.5);
$light-brand-blue: #7289da;
$light-brand-green: #43b581;
$normal-brand-blue: #2d8dd6;
$normal-brand-green: #29c566;
$normal-brand-orange: #e44235;
$normal-brand-purple: #904fad;
$normal-brand-red: #e61b58;
$normal-brand-yellow: #efbc12;
$hover-grey: $light-text-grey;
$hover-dark-grey: rgba(4,4,5,0.07);
$hover-blue: $light-brand-blue;
$hover-green: $light-brand-green;
$hover-white: #fff;
$hover-black: #000;

