$text-white: #fff;
$light-text-grey: #dcddde;
$lightest-shadow-grey: #8e9297;
$light-shadow-grey: #4f545c;
$alt-neutral-shadow-grey: #36393f;
$neutral-shadow-grey: #2f3136;
$dark-shadow-grey: #292b2f;
$darker-shadow-grey: #202225;
$darkest-shadow-grey: #18191c;
$light-outline-grey: hsla(0,0%,100%,0.06);
$darkest-outline-grey: rgba(4,4,5,0.5);
$normal-brand-blue: #7289da;
$normal-brand-green: #43b581;
$hover-grey: #dcddde;
$hover-blue: #7289da;
$hover-green: #43b581;
$hover-white: #fff;
$hover-black: #000;