@import "../../utilities/typography";
@import "../../variables";

.nav-item-server {
  justify-content: center;
  position: relative;
  width: 7.2rem;

  .svg {
    width: 48px;
    height: 48px;
    transform: scale(0.5);
  }

  .pip {
    position: absolute;
    top: 13px;
    left: -4px;
    width: 8px;
    height: 2rem;
    border-radius: 0 4px 4px 0;
    background-color: $hover-white;
    transform: scale(0);
    transition: all 0.2s;
  }

  .nav-channel {
    background-color: $alt-neutral-shadow-grey;
    height: 4.8rem;
    width: 4.8rem;
    margin-bottom: 0.8rem;
    border-radius: 3rem;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: background-color 0.2s, border-radius 0.2s;
  }

  .tool-tip {
    top: 6px;
    left: 80px;
  }

  .nav-channel:hover {
    border-radius: 1.6rem;
  }

  .nav-channel-blue:hover {
    background-color: $hover-blue;
  }

  .nav-channel-green:hover {
    background-color: $hover-green;
  }

  .nav-channel:hover > .svg {
    filter: brightness(400%);
  }

  .nav-channel:hover > .nav-channel-content {
    color: $text-white;
  }

  .nav-channel:hover ~ .tool-tip {
    visibility: visible;
    opacity: 1;
  }

  .nav-channel:hover ~ .pip {
    transform: scale(1);
  }

  .nav-channel-content {
    color: $light-text-grey;
    font-size: 1.7em;
    font-weight: 500;
    user-select: none;
    overflow: hidden;
  }

  .nav-channel-image {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .svg-discord {
    transform: scale(1);
    height: 2.0rem;
    width: 2.8rem;
    filter: brightness(80%);
    transition: filter 0.2s;
  }

  .nav-channel:active {
    transform: translateY(1px);
  }

  .nav-channel-active {
    border-radius: 1.6rem;
  }

  .nav-channel-active.nav-channel-blue {
    background-color: $light-brand-blue;
  }

  .nav-channel-active.nav-channel-green {
    background-color: $light-brand-green;
  }

  .nav-channel-active ~ .pip {
    transform: scale(1);
    height: 4rem;
    top: 0.4rem;
  }

  .nav-channel-active > .svg {
    filter: brightness(400%);
  }

  .nav-channel-active > .nav-channel-content {
    color: $text-white;
  }

  .nav-channel-separator {
    margin-bottom: 1.8rem;
    position: relative;
  }

  .nav-channel-separator::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0.8rem;
    height: 0.2rem;
    width: 3.2rem;
    border-radius: 0.1rem;
    background-color: $light-outline-grey;
  }
}

